

/*=====Global Layout====================*/



* {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family:  "Roboto", sans-serif;
	background-color: #f5f5f5;
}

p {
	line-height: 1.8;
	color: grey;
}

p,
ul{
	width: 80%;
}

ul,
li{
	list-style: none;
}




/*links*/
a{
	text-transform: uppercase;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	color: lightblue;
}

a:hover{
	color: darkblue;
}

a:active{
	color: red;
}




/*======Style Layout=====================*/

/*header*/


.menu h1{
	padding-top: 20px;
}

.menu ul{
	margin-top: 40px;
	margin-bottom: 60px;
	display: inline-block;
}

.menu li{
	margin: 6px 0;
	padding: 10px 5px;
	font-weight: bold;
	background-color: white;
}

.profil {
	margin-bottom: 15px;
	width: 80%;
}

.info-text{
	padding-bottom: 20px;
}



/*main*/

.container {
	background-color: #ffffff;
}


#portfolio{
	margin: 20px 0 30px;
	padding-top: 30px;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
}

.img {
	width: 80%;
	margin-bottom: 20px;
	margin-top: 30px;
}


.container h2{
	font-family: "Oswald", Arial, sans-serif
}


.container h2,
.container p {
	padding-bottom: 25px;
}



/*===========footer================*/

/*footer contact*/

.main-contact{
	margin: 30px 0;
}

#contact{
	margin: 50px 0 30px;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
}



/*footer-nav stily*/

footer{
	height: 2em;
}


.foot a, 
 .foot-nav{
 	font-weight: bold;
 }

.foot h3{
	float: left;
	margin: 20px 0 0 20px;
}

.foot a{
	float: right;
	margin: 20px 20px 0 0;
}


.foot-nav ul{
	display: none;
}




/*wrapper*/

.wrap{
	min-height: calc(100vh - 45px);
}



/*============media queries==========*/

@media (min-width: 768px) {

	.container{
		width: 100%;
		margin: 0 auto;
	}


	.nav-bar li{
		width: 15%;
		padding: 0 20px;
		display: inline;
		background: none
	}




/*Nav img and text*/


	.profil{
		max-width: 40%;
		float: right;
		margin-right: 40px;
		margin-bottom: 40px;

	}


	.info-text{
		width: 40%;
		float: left;
		margin-left: 40px;
		text-align: left;
	}


/*Portfolio*/



.port-items{
	width: 50%;
	float: left;
}


/*contact*/

.main-contact p{
	max-width: 410px;
}


/*footer*/

.foot-nav ul{
	display: inline;
	float: right;
	margin-right: 20px;
}

.foot-nav a{
	padding: 0 15px;
}

.to-top{
	display: none;
}


}




/*large screen*/


@media (min-width: 1024px) {

	
/*header*/

	

	.nav-header ul{
		display: inline;

	}

	.nav-header h1{
		float:left;
		margin-left: 80px;
		padding: 10px 0 10px 15px;
	}

	.nav-bar {
		float: right;
		margin-right: 60px;
		padding: 20px 15px 10px 0;	
	}


	.nav-bar li{
		padding-right: 50px;
	}

	.nav-header li{
		background: none;
		font-weight: bold;

	}

	.intro{
		margin-top: 50px;
		width: 90%;
	}


	.intro p{
		max-width: 400px;
	}


	.intro img{

		margin-right: 80px;
	}

	
/*main*/


.port-items {
	width: 33%;
	float: left;
}

.center {
	margin-left:20px;
}


}



	


/*======== Float Clear fix=========*/

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}






















